body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;

    --gmarket-blue: #327FF5;
    --gmarket-white: #FFFFFF;
    --gmarket-black: #000000;
    --gmarket-dark-green: #3caf28;
    --gmarket-green: #00c01e;
    --gmarket-white-gray: #DDDDDD;
    --gmarket-dark-gray: #777777;
    --gmarket-gold: #A68354;

    /* #81c348 #e14a4f #2d8ce6 #81c348 #e0454a #3d3d73*/
}

@font-face { 
    font-family: "GmarketSansBold";
    src: url("font/GmarketSansBold.otf");
}

@font-face { 
    font-family: "GmarketSansLight";
    src: url("font/GmarketSansLight.otf");
}

@font-face { 
    font-family: "GmarketSansMedium";
    src: url("font/GmarketSansMedium.otf");
}

@font-face { 
    font-family: "NotoSansLight";
    src: url("font/NotoSansKR-Light.otf");
}


@font-face { 
    font-family: "NotoSansRegular";
    src: url("font/NotoSansKR-Regular.otf");
}

@font-face { 
    font-family: "NotoSansBold";
    src: url("font/NotoSansKR-Bold.otf");
}

h1 {
    font-family: "GmarketSansMedium";
}

header {
    margin-top: 6px;
    width: 1214px;
    height: 100px;
    display: flex;
    align-items: center;
}

section {
    width: 1214px;
    display: flex;
    align-items: center;
}

#logo-image {
    margin-left: -41px;
    width: 240px;  
    object-fit: cover;
}

header > div {
    margin-top: 17px;
}

#header_search {
    margin-left: -1.5px;
    width: 549px;
    height: 44px;
    border: 2px solid var(--gmarket-blue);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#header_search > input {
    width: 440px;
    height: 25px;
    background-color: var(--gmarket-white);;
    border: none;

    font-size: 16px;
}

#header_search > input:focus {
    outline: none;
}

#header_search > img {
    margin-top: -2px;
    margin-left: -3px;
    width: 22px;
    height: 22px;
}

#header_advertisement {
    margin-left: 20px;
    width: 200px;
    height: 60px;
}

#header_advertisement > img {
    width: 200px;
    height: 60px;
}

#header_nav_container {
    margin-left: 5px;
    width: 176px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#header_nav_container > img {
    width: 40px;
    height: 40px;
    margin-left: 33px;
}


#top-nav-container {
    margin-top: 6px;
    height: 60px;
}

#all-category-btn {
    width: 222.3px;
    height: 60px;

    display: flex;
    align-items: center;
    background-color: var(--gmarket-dark-green);
}

#all-category-btn > img {
    width: 25px;
    height: 25px;
    margin-left: 23px;

}

#all-category-text {
    margin-left: 12px;
    display: table-cell;
    line-height: 40px;
    margin-bottom: 20px;

    vertical-align: middle;
    font-family: "NotoSansBold";
    font-size: 16px;
    color: var(--gmarket-white);
}
#top-text-nav-container {
    display: flex;
    align-items: center;
}
#top-text-nav-container > a {
    font-size: 15px;
    margin-left: 22px;
    font-family: -apple-system, "NotoSansRegular";

    text-decoration: none;
}

.top-black{
    color: var(--gmarket-black);
}

.top-gray{
    color: var(--gmarket-dark-gray);
}

.top-gold{
    color: var(--gmarket-gold);
}

a:visited.top-black {
    color: var(--gmarket-black);
}

a:visited.top-gold {
    color: var(--gmarket-gold);
}

a:visited.top-gray {
    color: var(--gmarket-dark-gray);
}

#top-text-menu-container {
    display: flex;
    margin-left: 360px;
    align-items: center;
}

#top-text-menu-container > a {
    font-size: 14px;
    margin-left: 7px;
    margin-right: 7px;
    font-family: -apple-system, "NotoSansRegular";

    text-decoration: none;
}

.text-menu-divide-line {
    width: 0px;
    height: 10px;
    border: 0.8px solid var(--gmarket-white-gray)
}

#top-text-menu-container > img {
    width: 8px;
    height: 8px;
}

#banner-ad-container {
    margin-top: -16px;
}

#banner-menu-container {
    width: 182.5px;
    background-color: var(--gmarket-green);
}

li {
    font-family: -apple-system, "NotoSansRegular";
}

ul {
    list-style: none;
}

#banner-menu-container > li {
    color: var(--gmarket-white);
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 14px;
    margin-left: -20px;
}

.banner-bottom-line {
    width: 222.5px;
    margin-left: -40px;
    height: 0px;
    margin-top: -1.5px;
    border-bottom: 0.1px solid var(--gmarket-white);
}

#now-hottest-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.section-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.goto-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}

.goto-container > p {
    font-family: -apple-system, "NotoSansRegular";
    color: var(--gmarket-dark-gray);
    font-size: 15px;
}

.goto-container > img {
    margin-left: 6px;
    width: 18px;
    height: 18px;
}

#product-section {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

#left-button-container {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: var(--gmarket-white);
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 90px;
    left: -20px
}

#left-button-container > img {
    width: 16px;
    height: 16px;
}

#right-button-container {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: var(--gmarket-white);
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 90px;
    right: -20px;
}

#right-button-container > img {
    width: 16px;
    height: 16px;
}

.hottest-product-number {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background-color: var(--gmarket-green);
    position: absolute;
    top: 10px;
    left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gmarket-dark-green);
    position: absolute;
}

.hottest-product-number > p {
    font-family: "GmarketSansBold";
    font-size: 18px;
    color: var(--gmarket-white);
}

.hottest-product {
    width: 220px;
    position: relative;
    margin-left: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hottest-product:first-child {
    margin-left: 0px;
}

.hottest-product-image-container {
    width: 220px;
    height: 220px;
    border-radius: 120px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.hottest-product-image-container > img {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.product-info-container { 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 18px;
}
.product-info {
    font-family: -apple-system, "NotoSansRegular";
    font-size: 14px;
}
.product-price {
    font-family: "GmarketSansBold";
    font-size: 16px;
}













#notice-container {
    margin-top: 40px;
    height: 40px;
}

#notice-p-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#notice-p-container > p {
    margin-right: 8px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}

#notice-header {
    color: #777;
    font-family: "NotoSansBold";
}
#notice-slash, #notice-contents, #notice-date {
    font-family: -apple-system, "NotoSansRegular";
    color: #777;
}

#notice-br {
    width: 0px;
    height: 16px;
    border: 0.1px solid var(--gmarket-white-gray);
    margin-right: 16px;
}

#font-download-container {
    margin-top: 40px;
}

#font-download-container > img {
    width: 100%;
    object-fit: cover;
}

#font-download-container > div {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 62px;
    z-index: -1;
    background-color: var(--gmarket-green);
}